<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/style.css">
	<title>Microblog</title>
</head>
<body>
	<h1><a href="/"><img src="http://2.bp.blogspot.com/-aUCSyVI-PKk/UXkXdAO-XDI/AAAAAAAAAqo/qe5SN9hSxbY/s320/seo+freelancer.jpg" alt=""></a></h1>
	<div id="nav">
		<a href="/authors">Authors</a> |
		<a href="/microposts">Microposts</a> |
		<a href="/tags">Tags</a>
	</div>
	<section id="main">
		<%= yield %>
	</section>
</body>
</html>