<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/style.css">
	<title>Microblog</title>
</head>
<body>

	<header><a href="/"><img src="/micro_blog.png" alt=""></a></header>
	<div id="nav">
		<a class="top_bar" href="/authors">Authors&nbsp;&nbsp;</a> 
		<a class="top_bar" href="/microposts">Microposts&nbsp;&nbsp;</a> 
		<a class="top_bar" href="/tags">Tags</a>
	</div>
	<section id="main">
		<%= yield %>
	</section>
</body>
</html>