<div id="content">

<h3>Add a new Author</h3>

<form action="/authors" method="POST">
	<label for="name">Name<br>
		<input type="text" name="author[name]"><br><br>
	</label>
	<label for="photo_url">Photo URL<br>
		<input type="text" name="author[photo_url]"><br><br>
	</label>
	<label for="birthdate">Birthdate (yyyymmdd)<br>
		<input type="text" name="author[birthdate]"><br><br>
	</label>
	<label for="date_joined">Date Joined (yyyymmdd)<br>
		<input type="text" name="author[date_joined]"><br><br>
	</label>
	<label for="gender">Gender<br>
		<input type="text" name="author[gender]"><br><br>
	</label>
	
	<input type="submit" value="Submit">
</form>

</div>